<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Stops</h5>
          <p>
            <strong>ID</strong>: {{trains.id}}</p>
          <p>
          <p>
            <strong>Stop Name</strong>: {{trains.stop_name}}</p>
          <p>
            <strong>Direction:</strong> {{trains.direction_id}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
