<br>
<br>
    
    <p>&nbsp;</p>
    <div class="d-flex justify-content-center"><img
            src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fmobile-atom.com%2Fwp-content%2Fuploads%2F2019%2F03%2Fsunrailmap.jpg"
            alt="map"></div>
    <p>&nbsp;</p>
</div>    
 <div class="card-footer">
    <p>Built by</p>
    <div class="card-body">
    <h5 class="card-title">Fall 2019 UCF Coding Bootcamp Group LRRS</h5>
    <p class="card-text">Luna, Ronald, Reuben, Shane</p>
    <a href="https://github.com/Shane1216/Project2" id="submit" class="btn">Go to repository</a>
    </div>
  </div>
    