<body>

    <header>
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <h1> My SunRail</h1>
                   <nav class="nav">
                       <ul>
                           <li><a href="/"><i class="fas fa-Home"></i></a></li>
                            <li><a href="/northbound">N <i class="fas fa-train"></i></a></li>
                            <li><a href="/southbound">S <i class="fas fa-train"></i></a></li>
                            <li><a href="/map"><i class="fas fa-map"></i></a></li>
                            <li><a href="/login"><i class="fas fa-ticket-alt"></i></a></li>
                       </ul>
                   </nav>
               </div>
           </div>
       </div>
   </header>

   <br>

    <div class="price-container">

        <div class="row">

            <!-- Sign-Up Card-->
            <div class="col-md-6 offset-3">
                <div class="card card-default">
                    <div class="card-header">
                        Total Price
                    </div>
                    <div class="card-body">
                        <button class="btn btn-warning my-2 my-sm-0" id="add-user" type="submit">Purchase</button>
                        </form>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="searchbar">
        <div class="row">
            <div class="col-md-3 offset-9">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js">
    </script>
    <script src="/js/index.js"></script>



</body>

</html>


</body>

</html>