html {
  background-color: grey;
}
body {
  background-color: grey;
}
/------------nav-----------------/
.searchbar {
  background-color: grey;
  right: 10px;
}
header h1 {
  color: white;
  position: relative;
  font-size: 50px;
  margin-top:10px;
  left: -110px;
}
header  {
  height: 100px;
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-family: 'Julius Sans One', sans-serif;
}
header ul {
  position: relative;
  left: 300px;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header h1 {
  float: left;
  padding: 10px 0;
}
nav  {
  text-align: right;
  padding-right: 15px;
  padding-top: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}
nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
nav a:hover {
  color: #ffc107;
}
nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(255, 234, 112);
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
p {
  font-size: 16px !important;
  color: black !important;
  font-family: 'Cantarell', serif !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
}
/new CSS/
h1 {
  padding-bottom: 20px;
  color: darkgrey!important;
  font-size: 36px !important;
  font-family: 'Cinzel', serif !important;
}
h2 {
  padding-bottom: 20px;
  font-size: 30px !important;
  color: darkgrey !important;
  font-family: 'Cinzel', serif !important;
}
h3 {
  font-size: 24px !important;
  color: darkgrey !important;
  font-family: 'Cinzel', serif !important;
}
/*changed below*/
h4 {
  font-size: 18px !important;
  color: darkgrey!important;
  font-family: 'Cinzel', serif !important;
}

.card-footer {
  background-color: darkgrey !important;
}

h5 {
  font-size: 24px !important;
  color: white!important;
  font-family: 'Cinzel', serif !important;
}

.form-inline {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchbar {
  background-color: darkgrey;
}
/*changed above*/
a {
  transition: 0.8s ease;
  color: goldenrod!important;
  text-decoration-line: none;
}
a:visited {
  color: black;
}
a:hover {
  color: darkgrey !important;
}
a:active {
  color: darkgey !important;
}
#submit {
  font-size: 36px !important;
  color: white !important;
  background-color: goldenrod;
  font-family: 'Cantarell', serif !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
}
#dropdownMenuButton {
  font-size: 20px !important;
  color: white !important;
  background-color: darkgray;
  font-family: 'Cantarell', serif !important;
  margin-top: 20px !important;
  margin-bottom: 20px;
  border: 0px;
}
#notes {
  color: red;
  padding-left: 20px;
}
#del-button
{
  color: white !important;
  background-color: goldenrod !important;
}
